# Logs
*.log
npm-debug.log*

# Dependency directory
node_modules/

# Vite build output
dist/

# Local env files (optional if using)
*.local

# OS & Editor stuff
.DS_Store
.vscode/
.idea/

# VS Code settings you want to keep
!.vscode/extensions.json
