.header {
    position: fixed;
    width: 100%;
    display: flex;
    height: 60px;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    gap: 10px;
}

.btnGroup {
    display: flex;
    gap: 10px;
}