.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 100px;
    gap: 20px;
    width: 1440px;
    margin: auto;
    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover ;
    color: #333;
    
}

.portfolio-options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}

.portfolio-options > * {
    width: 100%;
}
