.question {
    height: 100vh;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 100px;
    gap: 20px;
    background-image: url('../assets/hero.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

.question_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 0%;
    min-height: 50%;
    width: clamp(200px, 60vw + 10em, 900px);
}

.textInput {
    background-color: #d1d1d1;
    width: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.textInput input {
    padding: 5px;
    background-color: #f4f4f4;
    border: none;
    color: #333;
}

.question_button {
    display: flex;
    gap: 1.25rem;
}